.checkout-container {
    height: calc(100vh - 100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    background-size: cover;
    background-position: center;
}
label {
    display: block;
}

form {
    align-self: flex-start;
    background-color: rgba(0, 0, 0, 0.454);
    border-radius: 10px;
    /* height: 100%; */
    height: max-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
}

input[type="email"],
input[type="text"],
input[type="submit"] {
    margin: 10px 0px;
    padding: 10px;
}
.priceDisplay {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(255, 154, 2, 0.454);
    border-radius: 10px;
    height: max-content;
    padding: 30px;
    align-self: flex-start;
    margin-top: 40px;
}

#modal {
    position: absolute;
    inset: 0;
    margin: auto auto;
    background-color: black;
    border-radius: 10px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-card {
    background-color: rgb(255, 255, 6);
    padding: 20px;
    align-items: center;
    border-radius: 90px auto;
    width: 80%;
    height: 100%;
    color: black;
}
.modal-card img {
    height: 100px;
    width: 10%;
    object-fit: cover;
}

#modal a {
    margin: 20px auto;
}
