.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}
.headerLeft {
    width: 100%;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}
.login_button{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    margin-left: auto;
}
.login_button img{
    height: 20px;
    width: 20px;
    object-fit: contain;
}
.login_button p{
    margin: 0px;
}
.logout_button{
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    padding: 2px 2px;
    margin-left: auto;
    display: block;
    display: flex;
    align-items: center;
    gap:12px;
    width: 150px;
}
/* .logout_button p{
} */
.logout_button img{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

