.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}
.headerLeft {
    width: 100%;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}
.login_button{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    margin-left: auto;
}
.login_button img{
    height: 15px;
    width: 15px;
    object-fit: cover;
}
.login_button p{
    margin: 0px;
}
.logout_button{
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    padding: 2px 2px;
    margin-left: auto;
    display: block;
    display: flex;
    align-items: center;
    gap:3px;
    width: max-content;
}
/* .logout_button p{
} */
.logout_button img{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.hamburger_menu{
    display:none;
    cursor:pointer
}
.close_menu{
    display: none;
}
@media screen and (max-width: 845px){
    .hamburger_menu{
        display:block;
    }
    .headerLeft{
        position: fixed;
        inset: 0;
        background-color: black;
        flex-direction: column;
        gap: 20px;
        z-index: 10;
        justify-content: center;
        display:none;
    }
    .close_menu{
        display: block;
        position: absolute;
        right: 50px;
        top: 40px;
        height: 20px;
        width: 20px;
        object-fit: contain;
        filter: invert(1);
        cursor: pointer;
    }
    .login_button{
        margin: 0px auto;
    }
    .logout_button{
        margin: 0px auto;
    }
}
.show{
    display:flex
}

form{
    border: none;
    outline: none;
    height: 35px;
    width: 400px;
    border-radius: 6px;

}

.search-button{
    width: 60px;
    height: 40px;
}

.form-search{
    display: flex;
    align-items: center;
    background: blue;
    border-radius: 6px;
    gap: 5px;
    padding: 0px 10px;
    margin: 0;
}
